
body{
    height:100vh;
    /* background-image: url("./images/study_chill.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    overflow: hidden;
   
}
.container{
    margin:auto;
    width:50%;
    /* border:2px solid white; */
    height: 100%;
    /* margin-top:1%; */
    margin-bottom: 2%;
    
}
/* Navbar section  */

.navbar{
    display: flex;
    border-bottom:2px solid white;
    border-radius: 1px;
    padding:1rem;
}
.navbar_left{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.logo_title{
    transform: scale(1.8);
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white;
    margin: none;
    padding: none;
}
.navbar_right{
    display: flex;
    gap:1rem;
    
}

.navbar_left_button  {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white; 
}
.settings_button{
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.settings_svg{
    transform: scale(1.5);
    
}
.profile_button{
    transform: scale(1.5);
}

.title{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    
    font-family: "Roboto Slab", serif;

}

/* pomodoro_timer */

.pomodoro_timer{
    
    margin-top: 100px;
    margin:auto;
    margin-top: 5%;
    width:80%;
    background-color: black;
    padding:10px
}
.pomodoro_timer_button{
    width: 150px;
    background: none;
    border: 2px solid red;
    outline: none;
    box-shadow: none;
    color:white;
    font-family: "Roboto Slab", serif;
    



    
    
    
}


.pomodoro{
    
    float: left;
    
}
.short_break{
    float: none;
}
.long_break{
    float:right;
}
.time_counter{
    margin: auto;
    color: white;
}
.start_button{
    width:200px ;
    margin: auto;
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white;
    font-family: "Roboto Slab", serif;

}





 /* .background-image{
    width: 100%;
    height: 100%;
    z-index: 0;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast
    


}  */