
body{
    height:100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    font-family: "Roboto Slab", serif;
    color:white;
}
.container{
    margin:auto;
    width:50%;
    height: 100%;
    /* margin-top:1%; */
    margin-bottom: 2%;
    
}


/* Navbar section  */

.navbar{
    display: flex;
    border-bottom:2px solid white;
    border-radius: 0.0625rem;
    padding:0.25rem;
}
.navbar_left{
    display: flex;
    gap:0.3rem;
    align-items: center;
    justify-content: center;
    /* border:2px solid red; */
}
.logo_title{
    transform: scale(1.8);
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white;
    margin: none;
    padding: none;
    text-decoration: none;
    margin-top:-0.3125rem;
    /* padding:0px */

}
.logo_title:visited{
    color:white;
    text-decoration: none;
}
.navbar_right{
    display: flex;
    gap:1rem;
    
}

.navbar_left_button  {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    /* color:white;  */
}
.settings_button{
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.settings_svg{
    transform: scale(1.5);
    
}
.profile_button{
    transform: scale(1.5);
}

.title{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    
    font-family: "Roboto Slab", serif;

}

/* pomodoro_timer */

.pomodoro_timer{
    display: flex;
    margin-top: 6.25rem;
    margin:auto;
    margin-top: 4%;
    width:85%;
    background-color: transparent;
    border: none;
    padding:0.2rem;
    font-weight: 300;
}
.pomodoro_timer_button{
    width: 10rem;
    background: none;
    
    outline: none;
    box-shadow: none;
    border:none;
    font-family: "Roboto Slab", serif;
    font-size: 1rem;
    margin: 0rem;
    font-size: 1.125rem;
    padding: 0.125rem 0.8rem 1rem 1rem;
    height:2rem;
    cursor: pointer;
    opacity: 1;
    font-weight: bold;
    
    /* background-color: white; */
    opacity: 0.9;
    border-radius: 0.50rem;

    
}
.pomodoro_timer_button:hover{
    border: 0.125rem solid white;
    border-radius: 0.50rem;
}
.time_counter{
    margin: auto;
    font-size: 4rem;
}
.start_button{
    width:12.5rem ;
    margin: auto;
    margin-top: 0.25rem;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    /* color:white; */
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: 400;
} 

.button_list{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}

.display_timer{
    text-align: center;
    color: white;
    font-size: 8.25rem;
    font-weight: bold;
    letter-spacing: 6px;
    padding-bottom: 0rem;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px  rgb(0, 0, 0), 0 0 82px rgb(0, 0, 0),0 0 92px  rgb(0, 0, 0); */
}
.time{
    
    padding: 0rem;
    
}
/* .display_timer:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px  rgb(0, 0, 0), 0 0 82px rgb(0, 0, 0),0 0 92px  rgb(0, 0, 0);
} */


.button_list{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}
.btn_container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.start{
    width:12.5rem ;
    margin: auto;
    margin-top: -20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    /* color:white; */
    font-family: "Roboto Slab", serif;
    font-size: 1.25rem;
    font-weight: bold;
} 
.pause{
        width:12.5rem;
        margin: auto;
        margin-top: 0.2rem;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        /* color:white; */
        font-family: "Roboto Slab", serif;
        font-size: 1.25rem;
        font-weight: bold;
    
}

.reset{
        width:12.5rem ;
        margin: auto;
        margin-top: 0.25rem;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        /* color:white;   */
}
.reset_svg{
    transform: scale(1.5);
    
}
.hide{
    display: none;
    width:2rem;

}
.show{
    display: block;
}
/* .pause_reset{

}  */

.bottom_container{
    
}
.hr{
    border:0.0625rem solid white;
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
}
.drop_button {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    opacity: 0.9;
}
.dropdown {
    /* position: relative; */
    margin:auto;
    width:30%;
    display: inline-block;
    /* color: white; */
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: scroll;
    scrollbar-color:  black white;
    scrollbar-width: thin;
    top:2.8rem;
    max-height: 16.50rem;
    border-radius: 10px;
    
    
    /* -webkit-scrollbar-thumb { border-radius: 10px; } */
}

.drop_button{
    
    margin: 0rem;
}


.dropdown_content a {
    color: black;
    padding: 0.3rem 0.75rem;
    text-decoration: none;
    display: block;
    font-weight: bolder;
}

.dropdown_content a:hover {background-color: #f1f1f1;color:blue;}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .drop_button {
    /* background-color: #3e8e41; */
}

.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
} 


/* .card pomodoro_timer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */

.title__mood{
    margin-top: -2px;
    text-align: center; 
    position: relative;
    /* color: white; */
    /* font-weight: bold; */
    justify-content: center;
    margin: auto;
    
    
    
}
.toggle_title{
    font-size: 1.143rem;
    cursor: pointer;
    font-weight: 400;
    
}

.current_mood{
    /* color: white; */
    pointer-events: none;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -15px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
    margin-left: 0px;
    word-break: break-all;
    font-family: "Roboto Slab", serif;
    text-align: center;
    opacity: 0.9;
    /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px  rgb(0, 0, 0), 0 0 82px rgb(0, 0, 0),0 0 92px  rgb(0, 0, 0); */
}

.spotify_player{
    
    height: 200px;


}
@media only screen and (max-width: 992px) {
    .container{
        margin:auto;
        width:100%;
        height: 100%;
        /* margin-top:1%; */
        margin-bottom: 2%;
    }
}



