
body{
    height:100vh;
    /* background-image: url("./images/study_chill.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    overflow: hidden;
   
}
.container{
    margin:auto;
    width:50%;
    /* border:2px solid white; */
    height: 100%;
    /* margin-top:1%; */
    margin-bottom: 2%;
    
}
/* Navbar section  */

.navbar{
    display: flex;
    border-bottom:2px solid white;
    border-radius: 1px;
    padding:1rem;
}
.navbar_left{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.logo_title{
    transform: scale(1.8);
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white;
    margin: none;
    padding: none;
}
.navbar_right{
    display: flex;
    gap:1rem;
    
}

.navbar_left_button  {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white; 
}
.settings_button{
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.settings_svg{
    transform: scale(1.5);
    
}
.profile_button{
    transform: scale(1.5);
}

.title{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    
    font-family: "Roboto Slab", serif;

}

/* pomodoro_timer */

.pomodoro_timer{
    display: flex;
    margin-top: 100px;
    margin:auto;
    margin-top: 5%;
    width:80%;
    background-color: transparent;
    border: none;
    padding:10px;
}
.pomodoro_timer_button{
    width: 150px;
    background: none;
    border: 2px solid red;
    outline: none;
    box-shadow: none;
    color:white;
    font-family: "Roboto Slab", serif;
    
}


/* .pomodoro{
    
    float: left;
    
}
.short_break{
    float: none;
}
.long_break{
    float:right;
} */
.time_counter{
    margin: auto;
    color: white;
}
.start_button{
    width:200px ;
    margin: auto;
    margin-top: 20px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    color:white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
} 

.button_list{
    display: flex;
    align-items: center;
    gap: 4rem;
    
}
#timer_button{
    font-size: 16px;
    border: none;
    font-family:'ArialRounded', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
    , 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 0px;
    border-radius: 4px;
    /* font-family: ArialRounded; */
    font-size: 18px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    /* background: none rgba(0, 0, 0, 0.15); */
    box-shadow: none;
    color: white;
    opacity: 1;
    font-weight: bold;
}


 .background-image{
     position:absolute;
     width: 100%;
     height: 118%;
    z-index: -1;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
    margin-top: -60px;
    object-fit: cover;
    
} 
/* .background-image{
    height: auto;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* .card pomodoro_timer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */